<li class="restaurant-item">
   <article>
      <h2><%= item.name %></h2>
      <div class="restaurant-meta">
         <p><%= item.cuisine %></p>
         <p><%= item.address %></p>
      </div>
      <p><%= item.description %></p>
      <div class="restaurant-actions">
         <!-- step 1 : When we click this sub-route link, /restaurant/id [id of that card] {next step->app.js} -->
         <a href="/restaurants/<%=item.id%>">View Restaurant</a>
      </div>
   </article>
</li>
