<!DOCTYPE html>
<html lang="en">
   <head>
      <%- include("includes/head") %>
      <link rel="stylesheet" href="/styles/restaurants.css" />
      <script src="/scripts/responsive.js" defer></script>
   </head>
   <body>
      <%- include("includes/header") %> <%- include("includes/aside") %>
      <main>
         <!-- When the route of restautarant/id is triggered , the 'item' variable containting all the details  of that specifically clicked restaurant object will be passed inside the item variable.-->
         <h1><%= item.name %></h1>
         <p><%= item.cuisine %> | <%= item.address %></p>
         <p><%= item.description %></p>
         <p><a href="<%= item.website %>">View Restaurant</a></p>
      </main>
   </body>
</html>
